@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my simple Webpage</h1>   
</div>
<div id="video-container">
    <iframe width="560" height="315" src="https://youtu.be/u2NAuswnTKs" frameborder="0" allowfullscreen></iframe>
</div>
