@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my simple Webpage</h1>
</div>
<div id="video-container" class="center">
    <iframe width="560" height="400" src="https://www.youtube.com/embed/u2NAuswnTKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div id="moving-element">This song is outstanding</div>
